.postTitle {
    text-align: center;
}

.postBox {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 15px;
    background-color: white;
    margin: 60px 40px 0px 0px;
    padding: 20px;
}

.postButton {
    background-color: rgb(255, 217, 0);
    border-radius: 5px;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    align-self: center;
}

.postButton:hover {
    opacity: 0.5;
    cursor: pointer;
}

.postInput {
    width: 100%;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    align-self: center;
}

.postText {
    font-size: 30px;
}